@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.preloader {
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    background-color: rgba(255, 255, 255, 0.99)
}

.preloader .loading {
    left: 50%;
    top: 50%;
    font-size: 22px;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    letter-spacing: 4.4px;
    text-transform: capitalize;
    position: absolute;
    overflow: hidden;
    transform: translate(-50%, -60%);
}

.preloader .loading:before {
    color: #aaa;
    content: attr(data-loading-text);
}

.preloader .loading:after {
    top: 0;
    left: 0;
    width: 0;
    opacity: 1;
    color: #192331;
    overflow: hidden;
    position: absolute;
    content: attr(data-loading-text);
    -webkit-animation: loading 5s infinite;
    animation: loading 5s infinite;
}

@-webkit-keyframes loading {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}

@keyframes loading {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}
