@font-face {
    font-family: Brittany;
    src:url(brittany/BrittanySignature.ttf);
}
@font-face {
    font-family: Niramit;
    src:url(niramit/Niramit-Regular.ttf);
}
@font-face {
    font-family: Niramit-Light;
    src:url(niramit/Niramit-Light.ttf);
}
@font-face {
    font-family: Niramit-ExtraLight;
    src:url(niramit/Niramit-ExtraLight.ttf);
}
@font-face {
    font-family: Niramit-SemiBold;
    src:url(niramit/Niramit-SemiBold.ttf);
}
@font-face {
    font-family: Niramit-Medium;
    src:url(niramit/Niramit-Medium.ttf);
}
@font-face {
    font-family: Niramit-Bold;
    src:url(niramit/Niramit-Bold.ttf);
}
@font-face {
    font-family: Seasons;
    src:url(seasons/The Seasons Regular.ttf);
}
